.buttonsFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button {
  background: transparent;
  border: none;
}

.text {
  color: black;
  font-size: 30px;
}
.text:hover {
  color: darkmagenta;
}
.Itemleft {
  color: black;
  font-size: 30px;
}
