.taskForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  min-height: 6rem;
}

.task-input {
  font-size: 18px;
  padding: 14px 32px 14px 16px;
  border: none;
  justify-content: initial;
  width: 100%;
  outline: none;
  height: 100%;
}

.task-input:-webkit-autofill,
.task-input:-webkit-autofill:hover,
.task-input:-webkit-autofill:focus,
.task-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: black;
  box-shadow: 0 0 0 30px white inset;
}

.Task-button {
  padding: 16px;
  font-size: 14px;
  font-family: sans-serif;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: darkviolet;
  color: #fff;
  text-transform: capitalize;
  min-width: 7rem;
  max-width: 10rem;
  width: 20%;
  height: 100%;
}

.taskForm > p {
  font-size: 1.6rem;
  padding-left: 2rem;
}
