* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #000000;
  background-color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  margin: 40px;
  justify-content: center;
}

.todoapp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*container*/
.task-list-main {
  width: 30%;
  margin: 20x;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*image*/

.background {
  width: 1000px;
  height: 300px;
}

/*estyle task bar*/
h1 {
  color: white;
  font-size: 25px;
  font-family: sans-serif;
  text-align: center;
  margin: 20px 0;
}

.task-list-main {
  width: 1000px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
}
