* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Resetear los paddings que los navegadores tiene por defecto y el border box...() */
html {
  font-size: 62.5%;
}
/* Ajustar las medidas relativas como el rem (root element) 62.5% = 10  y de manera uniforme en el proyecto*/
html,
body {
  color: white;
  background-color: #fffdfd;
  font-family: "Times New Roman", Times, serif;
}
/* h1 {
  color: white;
  font-size: 25px;
  font-family: sans-serif;
  top: 20%;
  left: 50%;
  display: grid;
  position: absolute;
} */

.todoApp {
  width: 100%;
  position: relative;
  height: 100vh;
}

/*image*/

.top-landscape {
  width: 100%;
  display: block;
  height: 33vh;
  min-height: 200px;
  object-fit: cover;
}

/* media@*/
/* 
@media screen and (min-width: 768px) {
  .top-landscape {
    min-height: 300px;
  }
}
*/
