.task-container {
  width: 500px;
  min-height: 65px; /*no se agrega altura máxima para que el texto se extienda*/
  background-color: black;
  margin: 5px 0;
  padding: 8px 15px 8px 20px;
  display: flexbox;
  justify-content: space-between;
  align-items: center;
  border-radius: 1px solid rgb(225, 13, 13);
  cursor: pointer;
}

/*texto*/

.task-text {
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere; /*si el texto es muy largo se corta y da salto de renglón */
}

/* icono */

.task-icon {
  width: 25px;
  height: 25px;
  margin: 5px;
}

/*tarea completada*/

.task-container.finish {
  background-color: blue;
  text-decoration: line-through;
}
