.task-list-main {
  top: 20%;
  height: 300px;
  width: 100%;
  background-color: aliceblue;
  border-radius: 26px;
  border-style: 10px solid black;
  overflow: scroll;
  margin: 0 auto;
}
